In [1]:
import os
import nltk
import nltk.corpus

In [4]:
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [5]:
brown.words()

['The', 'Fulton', 'County', 'Grand', 'Jury', 'said', ...]

In [9]:
nltk.download('gutenberg')

[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Unzipping corpora/gutenberg.zip.

True

In [10]:
hamlet = nltk.corpus.gutenberg.words('shakespeare-hamlet.txt')

In [11]:
hamlet

['[', 'The', 'Tragedie', 'of', 'Hamlet', 'by', ...]

In [12]:
for i in hamlet[:300]:
  print(i, sep = " ", end = " ")

[ The Tragedie of Hamlet by William Shakespeare 1599 ] Actus Primus . Scoena Prima . Enter Barnardo and Francisco two Centinels . Barnardo . Who ' s there ? Fran . Nay answer me : Stand & vnfold your selfe Bar . Long liue the King Fran . Barnardo ? Bar . He Fran . You come most carefully vpon your houre Bar . ' Tis now strook twelue , get thee to bed Francisco Fran . For this releefe much thankes : ' Tis bitter cold , And I am sicke at heart Barn . Haue you had quiet Guard ? Fran . Not a Mouse stirring Barn . Well , goodnight . If you do meet Horatio and Marcellus , the Riuals of my Watch , bid them make hast . Enter Horatio and Marcellus . Fran . I thinke I heare them . Stand : who ' s there ? Hor . Friends to this ground Mar . And Leige - men to the Dane Fran . Giue you good night Mar . O farwel honest Soldier , who hath relieu ' d you ? Fra . Barnardo ha ' s my place : giue you goodnight . Exit Fran . Mar . Holla Barnardo Bar . Say , what is Horatio there ? Hor . A peece of him Bar . Welcome Horatio , welcome good Marcellus Mar . What , ha ' s this thing appear ' d againe to night Bar . I haue seene nothing Mar . Horatio saies , ' tis but our Fantasie , And will not let beleefe take hold of him Touching this dreaded sight , twice seene of vs , Therefore I haue intreated him along With vs , to watch the minutes of this Night ,

In [13]:
Ind = """India, officially the Republic of India (ISO: Bhārat Gaṇarājya),[22] is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;[23][24] and from the time of its independence in 1947, the world's most populous democracy.[25][26][27] Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[j] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia."""

In [14]:
type(Ind)

str

In [15]:
from nltk.tokenize import word_tokenize

In [17]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [18]:
Ind_token = word_tokenize(Ind)
Ind_token

['India',
 ',',
 'officially',
 'the',
 'Republic',
 'of',
 'India',
 '(',
 'ISO',
 ':',
 'Bhārat',
 'Gaṇarājya',
 ')',
 ',',
 '[',
 '22',
 ']',
 'is',
 'a',
 'country',
 'in',
 'South',
 'Asia',
 '.',
 'It',
 'is',
 'the',
 'seventh-largest',
 'country',
 'by',
 'area',
 ';',
 'the',
 'most',
 'populous',
 'country',
 'as',
 'of',
 'June',
 '2023',
 ';',
 '[',
 '23',
 ']',
 '[',
 '24',
 ']',
 'and',
 'from',
 'the',
 'time',
 'of',
 'its',
 'independence',
 'in',
 '1947',
 ',',
 'the',
 'world',
 "'s",
 'most',
 'populous',
 'democracy',
 '.',
 '[',
 '25',
 ']',
 '[',
 '26',
 ']',
 '[',
 '27',
 ']',
 'Bounded',
 'by',
 'the',
 'Indian',
 'Ocean',
 'on',
 'the',
 'south',
 ',',
 'the',
 'Arabian',
 'Sea',
 'on',
 'the',
 'southwest',
 ',',
 'and',
 'the',
 'Bay',
 'of',
 'Bengal',
 'on',
 'the',
 'southeast',
 ',',
 'it',
 'shares',
 'land',
 'borders',
 'with',
 'Pakistan',
 'to',
 'the',
 'west',
 ';',
 '[',
 'j',
 ']',
 'China',
 ',',
 'Nepal',
 ',',
 'and',
 'Bhutan',
 'to',
 'the',
 'north',
 ';',
 'and',
 'Bangladesh',
 'and',
 'Myanmar',
 'to',
 'the',
 'east',
 '.',
 'In',
 'the',
 'Indian',
 'Ocean',
 ',',
 'India',
 'is',
 'in',
 'the',
 'vicinity',
 'of',
 'Sri',
 'Lanka',
 'and',
 'the',
 'Maldives',
 ';',
 'its',
 'Andaman',
 'and',
 'Nicobar',
 'Islands',
 'share',
 'a',
 'maritime',
 'border',
 'with',
 'Thailand',
 ',',
 'Myanmar',
 ',',
 'and',
 'Indonesia',
 '.']

In [19]:
len(Ind_token)

163

In [20]:
from nltk.probability import FreqDist
fdist = FreqDist()

In [22]:
for i in Ind_token:
  fdist[i.lower()]+=1
fdist

FreqDist({'the': 17, ',': 11, 'and': 8, '[': 7, ']': 7, 'of': 5, ';': 5, 'in': 4, '.': 4, 'india': 3, ...})

In [23]:
fdist['india']

3

In [24]:
fdist_10 = fdist.most_common(10)
fdist_10

[('the', 17),
 (',', 11),
 ('and', 8),
 ('[', 7),
 (']', 7),
 ('of', 5),
 (';', 5),
 ('in', 4),
 ('.', 4),
 ('india', 3)]

In [25]:
from nltk.tokenize import blankline_tokenize
Ind_blank = blankline_tokenize(Ind)
len(Ind_blank)

1

In [26]:
Ind_blank[0]

"India, officially the Republic of India (ISO: Bhārat Gaṇarājya),[22] is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023;[23][24] and from the time of its independence in 1947, the world's most populous democracy.[25][26][27] Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[j] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia."

In [27]:
from nltk.util import bigrams, trigrams, ngrams

In [28]:
string = "It is not the strength of the body that counts, but the strength of the spirit."
qtoken = nltk.word_tokenize(string)
qtoken

['It',
 'is',
 'not',
 'the',
 'strength',
 'of',
 'the',
 'body',
 'that',
 'counts',
 ',',
 'but',
 'the',
 'strength',
 'of',
 'the',
 'spirit',
 '.']

In [30]:
qbigrams = list(nltk.bigrams(qtoken))
qbigrams

[('It', 'is'),
 ('is', 'not'),
 ('not', 'the'),
 ('the', 'strength'),
 ('strength', 'of'),
 ('of', 'the'),
 ('the', 'body'),
 ('body', 'that'),
 ('that', 'counts'),
 ('counts', ','),
 (',', 'but'),
 ('but', 'the'),
 ('the', 'strength'),
 ('strength', 'of'),
 ('of', 'the'),
 ('the', 'spirit'),
 ('spirit', '.')]

In [31]:
qngrams = list(nltk.ngrams(qtoken,4))
qngrams

[('It', 'is', 'not', 'the'),
 ('is', 'not', 'the', 'strength'),
 ('not', 'the', 'strength', 'of'),
 ('the', 'strength', 'of', 'the'),
 ('strength', 'of', 'the', 'body'),
 ('of', 'the', 'body', 'that'),
 ('the', 'body', 'that', 'counts'),
 ('body', 'that', 'counts', ','),
 ('that', 'counts', ',', 'but'),
 ('counts', ',', 'but', 'the'),
 (',', 'but', 'the', 'strength'),
 ('but', 'the', 'strength', 'of'),
 ('the', 'strength', 'of', 'the'),
 ('strength', 'of', 'the', 'spirit'),
 ('of', 'the', 'spirit', '.')]